{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"plugins": ["@typescript-eslint"],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended"
	],
	"overrides": [
		{
			"files": ["*.graphql"],
			"parser": "@graphql-eslint/eslint-plugin",
			"plugins": ["@graphql-eslint"],
			"rules": {
				"@graphql-eslint/known-type-names": "error"
			}
		}
	]
}
